@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Black+Ops+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: auto;
    background-color: black;
}

header{
    text-align: center;
}

img{
    max-width: 100vw;
    height: 25vw;
}

.firts-block{
    background-color: black;
}

iframe{
    width: 600px;
    height: 315px;
}

span{
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    /* background-color: white;
    color: black; */
}

.joinha-pink{
    height: 3.5vw;
    margin-right: 1rem;
    border: 0.01rem transparent white;
    border-radius: 60rem;
    background-color: white;
}

.firts-block-video{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #c219ab;
}

#space-sections{
    color: #c219ab;
    background-color: white;
}

.second-block-items{
    display: flex;
    flex-direction: column; /* Mudança para layout responsivo */
    text-align: start;
    background-color: #c91f7d;
    padding-top: 2rem;
    padding-bottom: 0.1rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    gap: 0.01rem;
}

.group-one, .group-two{
    border: 0.01rem transparent gray;
    border-radius: 0.5rem;
    text-align: justify;
    width: 100%; /* Mudança para layout responsivo */
    line-height: 1rem;
}

.group-one, .group-two{
    color: black
}

.headers-two{
    color: white;
    text-align: center;
    align-items: center;
}

.header-two{
    width: 100%;
    text-align: center;
    background-color: white;
    color: black;
}

.header-three{
    padding-top: 2rem;
    background-color: #c91f7d;
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.vantagens{
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: white;
    background-color: transparent;
}

.style-numbers{
    height: 3vw;
    border-radius: 60rem;
}

main{}

h1{
    font-size: xx-large;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    width: 100%; /* Mudança para layout responsivo */
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

video{
    width: 100%; /* Mudança para layout responsivo */
}

.cta{
    color: white;
    background-color: #c91f7d;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    align-items: center;
    padding: 1rem;
    border: transparent solid 0.5rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

#align{
    display: flex;
    align-items: center;
    padding-bottom: 3rem;
    padding-top: 2rem;
    background-color: black;
}

/* .config-footer{
    align-items: center;
    height: 10rem;
    
} */

#align-footer{
    margin-top: 3rem;
    padding: 3.7rem 0.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white; 
    border: white solid 0.1rem;  
}

#back-second-call{
    padding-top: 2re;
}

#second-call{
    /* background-color: yellow; */
    /* color: black; */
}

#second-call:hover{
    /* background-color: orange;
    color: black; */
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

/* button:hover{
    background-color: white;
    color: #c91f7d;
    border: grey solid 0.01rem;
} */

.third-block{
    text-align: left;
    align-items: center;
    color: white;
    /* width: 80%; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#foto-fragas{
    width: 30rem;
}

.autoridade{
    margin-top: 2rem;
    gap: 1rem;
    display: flex;
}

ul{
    line-height: 2rem;
}

li{
    font-size: 1.5rem;

}

p{
    background-color: rgba(12, 10, 10, 0.568);
    text-align: center;
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: bolder;
}

/* Media queries para dispositivos móveis */
@media (max-width: 599.9px){

    /* img{
        height: 35vw;
    } */

    h1{
        font-size: 150%;
    }

    .vantagens{
        text-align: inherit;
    }

    iframe{
        max-width: 100%;
    }
}
@media (min-width: 600px) {
    .second-block-items {
        flex-direction: row;
    }

    .group-one, .group-two {
        width: 50%;
    }

    video {
        width: 600px;
    }

    .align {
        display: flex;
        align-items: center;
        margin-left: 30%;
    }

    h1 {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .header-three {
        font-size: 1.5rem;
    }

    .cta {
        font-size: 1.2rem;
        padding: 0.5rem;
    }
}

/*Whats app flutuante
/* Estilo para o botão flutuante do WhatsApp */
.whatsapp-float {
    position: fixed;
    width: 3.75rem;
    height: 3.75rem;
    bottom: 2.5rem;
    right: 1.5rem;
    background-color: #25d366;
    color: #FFF;
    border-radius: 3.125rem;
    text-align: center;
    font-size: 1.875px;
    box-shadow: 0.125rem 0.125rem 0.188rem #999;
    z-index: 100;
}

.whatsapp-float img {
    margin-top: 0.25rem;
    width: 3.5rem;
    height: 3.5rem;
}

.whatsapp-float:hover {
    background-color: #128c7e;
    transition: background-color 0.3s;
}

.img-whats{
    border: 0.01 transparent beige;
    border-radius: 60rem;
}

/* Media queries para ajustar o botão em dispositivos móveis */
@media (max-width: 599.9px) {
    .whatsapp-float {
        width: 3.125rem;
        height: 3.125rem;
        bottom: 1.25rem;
        right: 1.25rem;
    }

    .whatsapp-float img {
        width: 3.1rem;
        height: 3.1rem;
    }
}
